%background-color {
    background-color: $base-bg; // Black background
}

%bodyfont {
    font-family: $base-fontfamily;
    font-size: $base-fontsize;
    color: $base-fontcolor;
}

%flex-center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

%content-holder {
    display: flex;

    background: {
        size: cover;
        position: center;
        repeat: no-repeat;
    }
}

%content-box-text {
    background-color: rgba(0, 0, 0, 0.4);
    width: $width-full;
    height: auto;
    color: $base-fontcolor;
    font-size: $base-fontsize;
    align-self: flex-end;
    text-decoration: none;
}

%footerfont {
    color: $footer-fontcolor;
    font-family: $base-fontfamily;
    font-size: $base-fontsize;
}


//     /* ---------- MAIN AREA ---------- */


.main-area {
    @extend %flex-center;
    @include margintb(40px, 40px);
    flex-flow: column wrap;

    @include tablet {
        @include widthheight(100%, 100px);
        flex-flow: row wrap;
        align-content: flex-start;

    }

    .logo {
        width: 200px;

        @include tablet {
            width: 150px;
            position: absolute;
            left: 15%;

        }

        @include desktop {
            width: 150px;
            position: absolute;
            left: 15px;
        }
    }


    .selection {
        text-align: center;

        @include desktop {
            position: absolute;
            left: 15%;
        }

        h1 {
            @extend %bodyfont;
            @include margintb(20px, 20px);

            @include desktop {
                text-align: left;
            }


            label {
                @extend %flex-center;
                width: 200px;


                label:before {
                    background: blue;

                }
            }

            select.dropdown {
                background-color: #fff;
                margin-top: 20px;
                @include widthheight(175px, 30px);
            }
        }
    }
}




/* ---------- FLEXBOX NEWS REEL ---------- */

.flexbox-news {
    @extend %flex-center;
    flex-flow: row wrap;

    a {
        @extend %content-holder;
        @include widthheight(100%, 400px);
        margin: 0;
        text-decoration: none;
        margin-top: auto;

        @include tablet {
            @include widthheight(33.33%, 600px);
        }

        @include desktop {
            @include widthheight(25%, 600px);
        }

        .holder {
            display: flex;
        }


        p {
            display: flex;
            @extend %content-box-text;
            padding: 15px 10px;
            align-self: flex-end;
        }
    }
}

/* ---------- FOOTER SECTION ---------- */

footer {
    @extend %flex-center;
    height: 50px;

    p {
        @extend %footerfont;

        @include desktop {
            position: absolute;
            left: 40px;
        }
    }
}