$desktop-width: 1240px;
// Desktop Mixin - 1240px
@mixin desktop {
	@media (min-width: $desktop-width) {
		@content;
	}
}

$tablet-width: 600px;
// Tablet Mixin - 600px
@mixin tablet {
	@media (min-width: $tablet-width) {
		@content;
	}
}

$mobile-width: 320px;
// Mobile Mixin - 320px
@mixin mobile {
	@media (min-width: $mobile-width) {
		@content;
	}
}

// Mixin for a Width & Height shorthand
@mixin widthheight($width, $height) {
	width: $width;
	height: $height;
}
// Mixin for Margin Top & Bottom shorthand
@mixin margintb($margin-top, $margin-bottom) {
	margin-top: $margin-top;
	margin-bottom: $margin-bottom;
}


// @mixin content-holder-params($height, $flex) {
// 	height: $height;
// 	flex: 0 1 100%; 
// }
