// SCSS Variable short hand sets

// Base-bg's set too Black
$base-bg: #000;
// Font colors set to White
$base-fontcolor: #fff;
// Font family set to OpenSans Light, with a fallback of sans-serif
$base-fontfamily: 'OpenSans Light', sans-serif;
// Font Size set to 16px
$base-fontsize: 16px;
// Auto width set to 100%
$width-full: 100%;
// Footer fontcolor set to a Light Grey
$footer-fontcolor: #c2c2c2;

	